/*ANIDAMIENTO */

.caja {
    h2 {
        color: palevioletred;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;

    }
    
}

.caja2 {
    div {
        background-color: beige;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-color: black;
        border-width: 2px;
        border-style: solid;
    }
}